.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 450px;
  height: 609px;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
}
.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  transition: background-color var(--transition-duration-and-func),
    border-color var(--transition-duration-and-func);
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: transparent;
    border-color: var(--accent-color);
  }
}
.modal__close-btn-icon {
  transition: fill var(--transition-duration-and-func);

  .modal__close-btn:hover &,
  .modal__close-btn:focus & {
    fill: var(--accent-color);
  }
}

// .modal {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   width: 528px;
//   height: 581px;
//   padding: 40px;
//   border-radius: 4px;
//   background-color: #ffffff;
// }
// .modal__close-btn {
//   position: absolute;
//   top: 8px;
//   right: 8px;
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   width: 30px;
//   height: 30px;
//   transition: background-color var(--transition-duration-and-func),
//     border-color var(--transition-duration-and-func);
//   background-color: transparent;
//   border: 1px solid rgba(0, 0, 0, 0.1);
//   border-radius: 50%;

//   &:hover,
//   &:focus {
//     background-color: transparent;
//     border-color: var(--accent-color);
//   }
// }
// .modal__close-btn-icon {
//   transition: fill var(--transition-duration-and-func);

//   .modal__close-btn:hover &,
//   .modal__close-btn:focus & {
//     fill: var(--accent-color);
//   }
// }
